<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>
    <div id="game">
      <section id="monster" class="container">
        <h2>Monster HP :{{monsterHealth}}</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="[healthBarMonster]"></div>
        </div>
      </section>
      <section id="player" class="container">
        <h2>Player HP : {{playerHealth}}</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="[healthBarPlayer]"></div>
        </div>
      </section>
      <!-- ========= Start new Game Section -->
      <section id="" v-if="!isGameRunning" class="container">
        <h2>{{winner}}</h2>
        <button @click="startNewGame()">Start New Game</button>
      </section>
      <!-- ======== Controls Section -->
      <section id="controls" v-else="isGameRunning">
        <button @click="Attack()">ATTACK</button>
        <button @click="specialAttack()">SPECIAL ATTACK</button>
        <button @click="healPlayer()">HEAL</button>
        <button @click="giveUp()">SURRENDER</button>
      </section>
      <!-- ============= Log Section -->
      <section id="log" v-show="gameEvent.length > 0" class="container">
        <h2>Battle Log</h2>
        <ul>
          <li v-for="(turn ,index)  in gameEvent" :key="index">
            <h2 :class="logEventOnScreen">
              {{turn.text}} <span class="log--damage">{{turn.damage}}</span>
            </h2>
          </li>
        </ul>
      </section>
    </div>
  </body>
</html>
